*{
    padding: 0%;
    margin:0%;
    
}

body{
   height: 100vh;
   /* display: flex;*/
   align-items: center;
   justify-content: space-around;
   margin-bottom: 50px;
   margin-right: 50px;
   background-color: rgb(255, 240, 237);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 18px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}

#task4{
   position: relative;
}
#task4 #wb_Image1{
   position:absolute;
   left:50px;
   top:20px;
   width:700px;
   height:600px;
   z-index:1;
}
#task4 #Image1{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   width:700px; 
   height:500px;
}
#Button1
{
   border: 1px solid #EB1700;
   border-radius: 16px;
   background-color: #EB1700;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   margin: 0;
   position:absolute;
   left:784px;
   top:263px;
   width:164px;
   height:36px;
   z-index:2;
}
#Button1
{
   outline: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
   position:absolute;
   left:784px;
   top:30px;
   width:330px;
   height:86px;
   z-index:3;
}
#wb_Text1{
   position:absolute;
   left:784px;
   top:147px;
   width:413px;
   height:125px;
   z-index:4;
}

#task3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 100%;
    margin-bottom: 25px;
    
    
}
#task3 .direita{
    width: 100%;
    
    
    
}
#task3 .esquerda{
    font-family: Arial, Helvetica, sans-serif;
}
#task3 .esquerda h1{
    font-size: 35px;
    
    
    
}
#task3 .esquerda p{
    width: 400px;
    font-size: 18px;
    line-height: 30px;
}
#task3 button{
    width: 130px;
    height: 35px;
    margin-bottom: 12px;
    border-radius: 20px;
    background-color: rgb(183, 16, 0);
    color: #ffffff;
    text-align: center;
    border: 0;
    font-size: 18px;
    float: left;
    cursor: pointer;
       }
    

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
/* body{
    background-color: rgb(25, 24, 24);
    height: 100vh;
    width: 100%;
    color: #ffffff;
    font-family: helvetica;
    font-size: 14px;
    gap: 12px 12px;

    display: inline-block;
    justify-content: center;
    align-items: center;
} */

#task2 a{
    color: #c4c4c4;
    text-decoration: none;
}
#task2 a:hover{
    color: #ffffff;
    text-decoration: underline;
}


#task2 main.cards {
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px 70px;
    margin-left: 50px;
}

#task2 section.card-1 {
    display: inline-block;
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 50px 100px;
}
#task2 section.card-2 {
    display: inline-block;
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px 70px;
    margin-left: 20px;
}
#task2 section.card-3 {
    display: inline-block;
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px 70px;
    margin-left: 70px;
    /* margin-bottom: ; */
}
#task2 section.card-4 {
    display: inline-block;
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px 70px;
}
#task2 section.card-5 {
    display: inline-block;
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px 70px;
}

#task2 ul{
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 50px;
    align-content: space-between;
    gap: 20px;
    color: #ffffff;
    list-style-type: none;
    line-height: 2;
}

#task2 div.coluna1 {
    display: inline-block;
    margin-left: 70px;

}
#task2 .coluna2 {
    display: inline-block;
    margin-left: 70px;

}
#task2 div.coluna3 {
    display: inline-block;
    margin-left: 70px;
}


#task2 div.rodape{
    display: flex;
    position: absolute;
    flex-direction: row;
    text-align: justify;
    line-height: 12px;
    margin: 10px 10px;
    position: bottom;
    left: 100px;
    padding-left: 10px;
}

